.footer {
  position: fixed;
  bottom: 0;
  margin: 0;
  margin-top: 2vh;
  padding: 0;
  padding-bottom: 2vh;
  width: calc(100vw - 330px);
  font-size: 10px;
}
.coltwo {  

  text-align: right;
  /* font-size: 10px; */
}

@media only screen and (max-width: 768px) {
  .footer {
    font-size: 8px;
    width: 100vw;
  }
}
